/* general styling */
:root {
    --smaller: 1;
  }
  
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  html, body {
    height: 100%;
    margin: 0;
  }

  @font-face {
    font-family: nasalization;
    src: url(nasalization-rg.otf);
  }

  .button {
    border-radius: 4px;
    position: absolute;
    left: 5;
    top: 5;
    background-color: #ffffff;
    color: white;
    padding: 9px 9px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    opacity: 1;
    transition: 0.3s;
    text-decoration: none;
    cursor: pointer;
  }
  .button:hover {box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);}
  
  
  body {
    background-image: url(null1000yardstare.png);
    background-color: #454545;
    background-size: 40vh;
    background-position: absolute;
    background-repeat: repeat;
    position: relative;
    align-items: center;
    display: flex;
    font-family: nasalization;
  }


  
  .container {
    color: #ffffff;

    text-shadow:
    3px 3px 0 #000,
    -3px 3px 0 #000,
    -3px -3px 0 #000,
    3px -3px 0 #000;
    margin: 0 auto;
    text-align: center;
  }
  
  h1 {
    font-weight: normal;
    font-size: 7em;
    letter-spacing: .125rem;
    text-transform: uppercase;
  }
  
  li {
    display: inline-block;
    font-size: 3em;
    list-style-type: none;
    padding: 0.5em;
    text-transform: uppercase;
  }
  
  li span {
    display: block;
    font-size: 7rem;
  }
  
  .emoji {
    display: none;
    padding: 1rem;
  }
  
  .emoji span {
    font-size: 4rem;
    padding: 0 .5rem;
  }
  
  @media all and (max-width: 768px) {
    h1 {
      font-size: calc(1.5rem * var(--smaller));
    }
    
    li {
      font-size: calc(1.125rem * var(--smaller));
    }
    
    li span {
      font-size: calc(3.375rem * var(--smaller));
    }
  }